body{
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#bikeshop-text{
    color:white;
    font-weight: 800;
}
#bikeshop-text:hover{
    color: red;
}
.col-sm{
    background-size: 400px 250px;
    border-radius: 10px;
    border: solid 1px;
    border-color: gainsboro;
    line-height: 20px;
    
}

#bikes-container .col-sm-4{
    margin-bottom: 150px;
}
div.col-sm{
    margin-top: 2%;
    width:  400px;
    padding: 0;
}
div#bikes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    border-color: lightseagreen;
    width: 1200px;
    margin: 50px auto;
    font-family: sans-serif;
}
.responsive-text{
 margin-left: 1%;
  font-weight: 700;
    
}
.bike-name{
    display:flex;
    justify-content: center;
}
.bike-category{
    margin-left:1%;
    display: flex;
}
.bike-price p {
    margin-left: 1%;
}
.btn-info {
    color: #fff;    
    border-color: white;
}
.bike-btn-details{
display: flex;
justify-content: center;
/* margin-bottom: 2%; */
margin-top: auto;
font-weight: 900;
font-family: sans-serif;
border:0px;
border-color: whitesmoke;
margin-bottom:2%;

}
.bike-btn-details a {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8e5fcb+0,8247c1+4,8247c1+4,8247c1+6,8247c1+6,8247c1+7,5700a8+47,9137db+100 */
background: #8e5fcb; /* Old browsers */
background: -moz-linear-gradient(top,  #8e5fcb 0%, #8247c1 4%, #8247c1 4%, #8247c1 6%, #8247c1 6%, #8247c1 7%, #5700a8 47%, #9137db 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #8e5fcb 0%,#8247c1 4%,#8247c1 4%,#8247c1 6%,#8247c1 6%,#8247c1 7%,#5700a8 47%,#9137db 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #8e5fcb 0%,#8247c1 4%,#8247c1 4%,#8247c1 6%,#8247c1 6%,#8247c1 7%,#5700a8 47%,#9137db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e5fcb', endColorstr='#9137db',GradientType=0 ); /* IE6-9 */

}
.bike-btn-details a:hover{
    background: antiquewhite;
    color: black;
    font-weight: 500;
    transition: 0.9s;
    opacity:0.5;
    border-radius: 10px;    
}
.bike-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.bike-description{
    flex: 1;
}
.col-sm img {
    border: 0;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 0;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.mBike{
    font-weight: 700;
    font-style: oblique;
}
.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 11px;
    left: 0;
    top: 0;
}

.checkmark_stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #fff;
    left: 11px;
    top: 6px;
}

.checkmark_kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    left: 8px;
    top: 12px;
}
.not-available {
    display: flex;
}

.not-available not-checkmark {
    margin-left: 1%;
}

.not-checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.not-checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 11px;
    left: 0;
    top: 0;
}
.font-color-available {
    margin-right: 10px;
    border-bottom: 1px solid green;
    margin-left: 1%;
}
.font-color-not-available {
    margin-right: 10px;
    border-bottom: 1px solid red;
    margin-left: 1%;
}
.not-checkmark_stem {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #fff;
    left: 10px;
    top: 6px;
    transform: rotate(1deg);

}

.not-checkmark_kick {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #fff;
    left: 10px;
    top: 6px;
    transform: rotate(80deg);

}
.available {
    display: flex;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.parallax-window img{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
}
.bike-price-color{
    color:green;
}
